@using Food_Registration.Models
@model Product
<div class="container-fluid">
    <div class="card">
            <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Name">

        <div class="card-body">
            <h5 class="card-title">
                <span>@Model.Name</span>
            </h5>

            <div class="card-bottom">
                <div>
                    <img class="nutrition-score" src="@Url.Content("~/images/nutri-Score.jpg")" alt="Nutrition score">
                </div>

                <div>
                    <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>