@using Food_Registration.Models
@model List<Product>

@foreach (var product in Model)
{
<div class="container-fluid">
    <div class="card">
        <div class="card-top">
            <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">

            <button class="icon-heart-favoritt">
                <i class="bi bi-heart-fill"></i>
                <!--<span>Apple- legg item til favoritter function</span>-->
            </button>
        </div>

        <div class="card-body">
            <h5 class="card-title">
                <span>@product.Name</span>
            </h5>
            <div class="card-bottom">
                <div>
                    <img class="nutrition-score" src="@Url.Content("~/images/nutri-Score.jpg")" alt="Nutrition score">
                </div>
                <div>
                    <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
}

@if (Model.Count == 0)
{
  <p>No products found</p>
}