@using Food_Registration.Models
@model List<Product>


<div class="container-fluid">
    <div class="row g-0">
    @foreach (var product in Model)
    { 
        <div class="col-3 d-flex">
            <div class="card">

            <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">


            <div class="card-body-description">
                <h5 class="card-title">
                    <span>@product.Name</span>  
                </h5>

                <div class="card-bottom">
                    <div>
                        <img class="nutrition-score" src="@Url.Content("~/images/Nutri/Nutri-score-A.svg.png")" alt="Nutrition score">

                    </div>
                    <div>
                        <button class="btn btn-primary btn-card">
                            <a href="@Url.Action("ReadMore", "Home")">Read More</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    }
    
</div>


@if (Model.Count == 0)
{
  <p>No products found</p>
}