@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List over food registration </h1>
</div>

<!--Search function-->
<form method="get" action="/" class="d-flex justify-content-center my-4">
    <div class="input-group" style="width: 700px; max-width: 100%;">
        <input type="text" name="searching" class="form-control"
               placeholder="Search products using product name or ID" 
               value="@ViewData["Getproductlist"]" 
               style="border: none; border-radius: 15px 0 0 15px;">
        <button value="search" class="btn btn-success" type="submit" 
                style="border: none; border-radius: 0 15px 15px 0;">Search</button>
    </div>
</form>

<section id="categoryLinks">
    <div class="row">
        <div class="col text-center">
            <a href="@Url.Action("Index", "Home", new { category = "Fruits" })" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/fruits" title="fruits icons" Fruits icons created by Eucalyp - Flaticon-->
                <img src="@Url.Content("~/images/icons/basket.png")" class="icon" alt="Fruits">
                <h5>Fruits</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Index", "Home", new { category = "Vegetables" })" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/vegetable" title="vegetable icons" Vegetable icons created by Icongeek26 - Flaticon-->
                <img src="@Url.Content("~/images/icons/vegetable.png")" class="icon" alt="Vegetables">
                <h5>Vegetables</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Index", "Home", new { category = "Meats" })" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/meat" title="meat icons">Meat icons created by Iconjam - Flaticon-->
                <img src="@Url.Content("~/images/icons/proteins.png")" class="icon" alt="Meats">
                <h5>Meats</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Index", "Home", new { category = "Bakery Foods" })" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/bakery" title="bakery icons">Bakery icons created by piksart - Flaticon-->
                <img src="@Url.Content("~/images/icons/breads.png")" class="icon" alt="Bakery Food">
                <h5>Bakery Foods</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Index", "Home", new { category = "Dairy" })" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/supermarket" title="supermarket icons">Supermarket icons created by Good Ware - Flaticon-->
                <img src="@Url.Content("~/images/icons/daily-products.png")" class="icon" alt="Dairy">
                <h5>Dairy</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Index", "Home", new { category = "Drinks" })" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/drink" title="drink icons">Drink icons created by Freepik - Flaticon-->
                <img src="@Url.Content("~/images/icons/soft-drink.png")" class="icon" alt="Drinks">
                <h5>Drinks</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Index", "Home", new { category = "Other" })" class="category-link">
                <!--Source of image/icon from ="https://www.flaticon.com/free-icons/fast-food" title="fast food icons">Fast food icons created by Freepik - Flaticon-->
                <img src="@Url.Content("~/images/icons/fast-food.png")" class="icon" alt="Other">
                <h5>Other</h5>
            </a>
        </div>
    </div>
</section>

<!--Table-->
<div class="container-fluid">
    <partial name="_SearchResultPartial" />
</div>