@{
    ViewData["Title"] = "Home Page";
}

<!--Search function-->
<form method="get" action="/">
    <div class="d-flex justify-content-center">
        <div class="input-group mb-3">
            <div style="border: 1px solid #ced4da; border-radius: 15px; display: flex; overflow: hidden; width: 700px;">
                <input type="text" name="searching" class="form-control"
                    placeholder="Search products using product name or ID" value="@ViewData["Getproductlist"]"
                    name="ProductSearch" style="border: none; border-radius: 0; width: 85%;">
                <button value="search" class="btn btn-primary" type="submit"
                    style="border: none; border-radius: 0; width: 15%;">Search</button>
            </div>

        </div>
    </div>
</form>

<div class="text-center">
    <h1 class="display-4">List over food registration </h1>
</div>


<!--Categoyr-bar While preparing the category bar, we were inspired from https://www.airbnb.no/ -->
<section id="categoryLinks">
    <div class="row">
        <div class="col text-center">
            <a href="@Url.Action("Category", "Home")" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/fruits" title="fruits icons" Fruits icons created by Eucalyp - Flaticon-->
                <img src="@Url.Content("~/images/icons/basket.png")" class="icon" alt="Fruits">
                <h5>Fruits</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Category", "Home")" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/vegetable" title="vegetable icons" Vegetable icons created by Icongeek26 - Flaticon-->
                <img src="@Url.Content("~/images/icons/vegetable.png")" class="icon" alt="Vegetables">
                <h5>Vegetables</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Category", "Home")" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/meat" title="meat icons">Meat icons created by Iconjam - Flaticon-->
                <img src="@Url.Content("~/images/icons/proteins.png")" class="icon" alt="Meats">
                <h5>Meats</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Category", "Home")" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/bakery" title="bakery icons">Bakery icons created by piksart - Flaticon-->
                <img src="@Url.Content("~/images/icons/breads.png")" class="icon" alt="Bakery Food">
                <h5>Bakery Foods</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Category", "Home")" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/supermarket" title="supermarket icons">Supermarket icons created by Good Ware - Flaticon-->
                <img src="@Url.Content("~/images/icons/daily-products.png")" class="icon" alt="Dairy">
                <h5>Dairy</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Category", "Home")" class="category-link">
                <!--Source of image/icon from "https://www.flaticon.com/free-icons/drink" title="drink icons">Drink icons created by Freepik - Flaticon-->
                <img src="@Url.Content("~/images/icons/soft-drink.png")" class="icon" alt="Drinks">
                <h5>Drinks</h5>
            </a>
        </div>
        <div class="col text-center">
            <a href="@Url.Action("Category", "Home")" class="category-link">
                <!--Source of image/icon from ="https://www.flaticon.com/free-icons/fast-food" title="fast food icons">Fast food icons created by Freepik - Flaticon-->
                <img src="@Url.Content("~/images/icons/fast-food.png")" class="icon" alt="Other">
                <h5>Other</h5>
            </a>
        </div>
    </div>
</section>

<!--Table-->
<div class="container-fluid">
    <partial name="_SearchResultPartial" />
</div>
