@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD


<section class="category-slider">
    <div class="slider">
        <div class="slide">Fruit</div>
        <div class="slide">Vegetable</div>
        <div class="slide">Fast Food</div>
    </div>
</section>

<section class="produkt-liste-hjem">
    
    <div class="container-fluid">
        <div class="card">
            <div class="card-top">
                     <img class="card-img-top" src="@Url.Content("~/images/apple2.jpg")" alt="Apple">
        
            <button class="icon-heart-favoritt">
                <i class="bi bi-heart-fill"></i>
                <!--<span>Apple- legg item til favoritter function</span>-->
            </button>
            </div>
        
            <div class="card-body">
                <h5 class="card-title">
                    <span>Apple</span>
                </h5>
              <div class="card-bottom">
                    <div>
                        <img  class="nutrition-score" src="@Url.Content("~/images/nutri-Score.jpg")" alt="Nutrition score">
                    </div>
                    <div>   
                        <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
                    </div>  
                </div>
            </div>
        </div>
    </div>

     <div class="container-fluid">
        <div class="card">
            <div class="card-top">
                     <img class="card-img-top" src="@Url.Content("~/images/apple3.jpg")" alt="Apple">
        
            <button class="icon-heart-favoritt">
                <i class="bi bi-heart-fill"></i>
                <!--<span>Apple- legg item til favoritter function</span>-->
            </button>
            </div>
        
            <div class="card-body">
                <h5 class="card-title">
                    <span>Apple</span>
                </h5>
              <div class="card-bottom">
                    <div>
                        <img  class="nutrition-score" src="@Url.Content("~/images/nutri-Score.jpg")" alt="Nutrition score">
                    </div>
                    <div>   
                        <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
                    </div>  
                </div>
            </div>
        </div>
    </div>

     <div class="container-fluid">
        <div class="card">
            <div class="card-top">
                     <img class="card-img-top" src="@Url.Content("~/images/cake.jpg")" alt="Apple">
        
            <button class="icon-heart-favoritt">
                <i class="bi bi-heart-fill"></i>
                <!--<span>Apple- legg item til favoritter function</span>-->
            </button>
            </div>
        
            <div class="card-body">
                <h5 class="card-title">
                    <span>Apple</span>
                </h5>
              <div class="card-bottom">
                    <div>
                        <img  class="nutrition-score" src="@Url.Content("~/images/nutri-Score.jpg")" alt="Nutrition score">
                    </div>
                    <div>   
                        <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
                    </div>  
                </div>
            </div>
        </div>
    </div>

     <div class="container-fluid">
        <div class="card">
            <div class="card-top">
                     <img class="card-img-top" src="@Url.Content("~/images/Burger.jpg")" alt="Apple">
        
            <button class="icon-heart-favoritt">
                <i class="bi bi-heart-fill"></i>
                <!--<span>Apple- legg item til favoritter function</span>-->
            </button>
            </div>
        
            <div class="card-body">
                <h5 class="card-title">
                    <span>Apple</span>
                </h5>
              <div class="card-bottom">
                    <div>
                        <img  class="nutrition-score" src="@Url.Content("~/images/nutri-Score.jpg")" alt="Nutrition score">
                    </div>
                    <div>   
                        <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
                    </div>  
                </div>
            </div>
        </div>
    </div>




</section>



=======
<div class="text-center">
=======
<!--<div class="text-center">
>>>>>>> a22a5f8 (added homepage)
    <h1 class="display-4">List over food registration </h1>
</div>

<form>
    <div class="mb-3">
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search">
    </div>
</form>

<div class="container-fluid">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
        </div>
    </div>
<<<<<<< HEAD
</div>
>>>>>>> 0993491 (feat: add the visual changes)
=======
</div> -->


=======
<div class="text-center">
    <h1 class="display-4">List over food registration </h1>
</div>

>>>>>>> e6bfbe1 (added css file, added bilde)

<section class = "searching-box">
    <div class="searching">
        <!-- Search box-->
        <form action = "/Search" method="get" class="search-form">
            <input type="text" name="q" placeholder="Search..." class="search-input" />
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</section>

<section class="category-slider">
    <!-- Carusell for categories, it is cooming here-->
    <div class="slider">
        <div class="slide">Fruit</div>
        <div class="slide">Vegetable</div>
        <div class="slide">Fast Food</div>
        <!--More categories will be added here when decided-->
    </div>
</section>


<div class="container-fluid">
    <!-- Card 1: Apple -->
    <div class="card" style="width: 18rem; display: inline-block; margin: 10px;">
        <img class="card-img-top" src="@Url.Content("~/images/apple.png")" alt="Apple">
        <div class="card-body">
            <h5 class="card-title">Apple</h5>
            <p>Calories: 50</p>
            <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <!-- Card 2: Burger -->
    <div class="card" style="width: 18rem; display: inline-block; margin: 10px;">
        <img class="card-img-top" src="@Url.Content("~/images/burger.jpg")" alt="Burger">
        <div class="card-body">
            <h5 class="card-title">Burger</h5>
            <p>Calories: 300</p>
            <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <!-- Card 3: Cake -->
    <div class="card" style="width: 18rem; display: inline-block; margin: 10px;">
        <img class="card-img-top" src="@Url.Content("~/images/cake.jpg")" alt="Cake">
        <div class="card-body">
            <h5 class="card-title">Cake</h5>
            <p>Calories: 300</p>
            <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>

<<<<<<< HEAD
     </div>
</selection>        
>>>>>>> a22a5f8 (added homepage)
=======
>>>>>>> e6bfbe1 (added css file, added bilde)
